@media only screen and  (max-width: 991px)
{

    .padding{
        padding: 1rem;
    }
    .package_section {
    background-image: none;
    padding: 0;
    }
    .download-btn {
        position: relative;
        transform: translate(0, 0);
        left: 0.5rem;
        margin-bottom: 2rem;
    }
    .mb{
        margin-bottom: 6rem;
    }
    }
